<div class="grid-x do-not-print">
  <div class="cell medium-5">
    <ul class="menu float-left">
      <li class="{{#ifequal '/' url}}is-active{{/ifequal}}  {{#ifequal 'front' active_path}}is-active{{/ifequal}}"><a href="{{root}}">AllAboutKen<span class="show-for-large">.com</span></a> </li>
      <li class="{{#ifequal '/blog' url}}is-active{{/ifequal}} {{#ifequal 'blog' active_path}}is-active{{/ifequal}}"><a href="{{root}}blog">Blog</a></li>
    </ul>
  </div>
  <div class="cell auto">
    <ul class="menu float-right show-for-medium">
      <!-- <span class="dev-explainer">Would have been easy enough to just do icons here, but text is not only better SEO but there's not mystery as to the action of what these links do.</span> -->
      <li class="show-for-medium-only"><a href="mailto:khawkins98@gmail.com">E-mail</a></li>
      <li class="show-for-large"><a href="mailto:khawkins98@gmail.com">khawkins98@gmail.com</a></li>
      <li class=""><a href="https://twitter.com/khawkins98">Twitter<span class="show-for-large"> @khawkins98</span></a></li>
      <li class=""><a href="https://www.linkedin.com/in/allaboutken">LinkedIn</a></li>
    </ul>
  </div>
</div>
